[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = never:silent

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none
